<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3><a href="/events"> All Users</a><br/>
          ( Total: <span>{{userPage?.totalElements}} users</span> ,
          Showing {{userPage?.size}} users/page,
          Page: <span>{{page+1}}</span> )
        </h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let u of userPage?.content">
          <td class="table-check">
            <div class="checkbox checkbox-only">
              <input type="checkbox" id="tbl-check-1"/>
              <label for="tbl-check-1"></label>
            </div>
          </td>
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Username</div>
            {{u.username}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Email</div>
            {{u.actualEmail}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Address</div>
            NULL
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Joined</div>
            {{getReadableDate(u.created)}}
          </td>
          <td>
            <button [routerLink]="['/users/earnings',u.id]" class="btn btn-primary">Earnings</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination pull-right" style="margin-right: 20px;">
        <button [disabled]="userPage?.first" (click)="loadPreviousPage()" class="btn btn-primary">Previous</button>
        &nbsp;&nbsp;<button [disabled]="userPage?.last" (click)="loadNextPage()" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div><!--.box-typical-body-->
</section><!--.box-typical-->
