<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3><a href="/events"> All User Events </a><br/>
          ( Total: <span>{{eventsPage?.totalElements}} events</span> ,
          Showing {{eventsPage?.size}} events/page,
          Page: <span>{{page+1}}</span> )
        </h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th></th>
          <th></th>
          <th>Tag Name</th>
          <th>Weight</th>
          <th>Type</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let e of eventsPage?.content">
          <td class="table-check">
            <div class="checkbox checkbox-only">
              <input type="checkbox" id="tbl-check-1"/>
              <label for="tbl-check-1"></label>
            </div>
          </td>
          <td><a></a>{{e.id}}</td>
          <td>{{e.tag}}</td>
          <td width="150">
            <div class="progress-with-amount">
              <progress class="progress progress-success progress-no-margin" [value]="getWeightPercentage(e.weight)" max="100">25%</progress>
              <div class="progress-with-amount-number">{{getWeightPercentage(e.weight)}}%</div>
            </div>
          </td>
          <td nowrap="nowrap">{{e.type.toLowerCase().split('_').join(' ')}}<span class="caret color-red"></span></td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Event ID</div>
            {{e.code}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Date</div>
            {{getReadableDate(e.date)}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Last Updated</div>
            {{getReadableDate(e.lastUpdated)}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination pull-right" style="margin-right: 20px;">
        <button [disabled]="eventsPage?.first" (click)="loadPreviousPage()" class="btn btn-primary">Previous</button>
        &nbsp;&nbsp;<button [disabled]="eventsPage?.last" (click)="loadNextPage()" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div><!--.box-typical-body-->
</section><!--.box-typical-->
