<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3><a href="/events"> All Users</a><br/>
          ( Total: <span>{{userPage?.totalElements}} users</span> ,
          Showing {{userPage?.size}} users/page,
          Page: <span>{{page+1}}</span> )
        </h3>
      </div>
      <input type="text" (keyup.enter)="onEnterPressed($event.target.value)"  class="form-control" placeholder="Search User" style="margin-top: 10px;">
    </div>
  </header>
  <div class="box-typical-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
        <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <button class="btn btn-primary" data-toggle="modal" data-target="#notificationModalForTopic">
              Notify
            </button>
          </th>
        </tr>
        <tr *ngFor="let u of userPage?.content">
          <td class="table-check">
            <div class="checkbox checkbox-only">
              <input type="checkbox" id="tbl-check-1"/>
              <label for="tbl-check-1"></label>
            </div>
          </td>
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Username</div>
            {{u.username}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Email</div>
            {{u.actualEmail}}
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Address</div>
            NULL
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Joined</div>
            {{getReadableDate(u.created)}}
          </td>
          <td>
            <button [routerLink]="['/users/earnings',u.id]" class="btn btn-primary">Earnings</button>
          </td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#notificationModal" data-whatever="@fat"
                    (click)="setRecipient(u.id)"><i class="fa fa-bell"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination pull-right" style="margin-right: 20px;">
        <button [disabled]="userPage?.first" (click)="loadPreviousPage()" class="btn btn-primary">Previous</button>
        &nbsp;&nbsp;<button [disabled]="userPage?.last" (click)="loadNextPage()" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div><!--.box-typical-body-->
</section><!--.box-typical-->

<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #sendNotificationForm="ngForm" (ngSubmit)="sendNotification(sendNotificationForm.value)">
        <div class="modal-body">
          <div class="form-group">
            <label for="message-title" class="col-form-label">Title:</label>
            <input [(ngModel)]="title" name="title" type="text" class="form-control" id="message-title" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea [(ngModel)]="message" name="message" class="form-control" id="message-text" required></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <select [(ngModel)]="notificationType" name="notificationType" class="form-control" required>
              <option value="general" selected>General</option>
              <option value="alert">Alert</option>
              <option value="promotion">Promotion</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Code:</label>
            <input [(ngModel)]="code" name="code" class="form-control" id="message-text" required >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="notificationModalForTopic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Send Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #sendNotificationForm="ngForm" (ngSubmit)="sendNotificationToTopic(sendNotificationForm.value)">
        <div class="modal-body">
          <div class="form-group">
            <label for="message-title" class="col-form-label">To:</label>
            <b>/topic/</b> <span class="text text-info pull-right">(Enter your topic name to send all users who subscribe to that topic)</span>
            <input [(ngModel)]="topic" name="topic" type="text" class="form-control" id="message-topic" required>
          </div>

          <div class="form-group">
            <label for="message-title" class="col-form-label">Title:</label>
            <input [(ngModel)]="title" name="title" type="text" class="form-control" id="message-title" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea [(ngModel)]="message" name="message" class="form-control" id="message-text" required></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Notification Type:</label>
            <select [(ngModel)]="notificationType" name="notificationType" class="form-control" required>
              <option value="general" selected>General</option>
              <option value="alert">Alert</option>
              <option value="promotion">Promotion</option>
            </select>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Code:</label>
            <input [(ngModel)]="code" name="code" class="form-control" id="message-text" required >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>
      </form>
    </div>
  </div>
</div>
