<h2>Terms &amp; Conditions</h2>

<div dir="ltr" style="text-align: left;" trbidi="on">
    <br/><b>1. Terms</b>
    <p>By accessing the website at <a href="http://www.sharemyrevenue.net">http://www.sharemyrevenue.net</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
    <br/><b>2. Use License</b>
    <ol type="a" style="margin-left:1%;">
       <li>Permission is granted to temporarily download one copy of the materials (information or software) on ShareMyRevenue's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
       <ol type="i" style="margin-left:2%;">
           <li>modify or copy the materials;</li>
           <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
           <li>attempt to decompile or reverse engineer any software contained on ShareMyRevenue's website;</li>
           <li>remove any copyright or other proprietary notations from the materials; or</li>
           <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
       </ol>
        </li>
       <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by ShareMyRevenue at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
    </ol>
    <br/><b>3. Disclaimer</b>
    <ol type="a" style="margin-left:1%;">
       <li>The materials on ShareMyRevenue's website are provided on an 'as is' basis. ShareMyRevenue makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
       <li>Further, ShareMyRevenue does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
       <li>ShareMyRevenue does not provide any financial service themselves and will not take any responsibility for any kind of financial transactions. You will handle all of the transactions or payments on your own and we do not guarantee you any user acknowledgements for any kind of transactions. ShareMyRevenue may charge a small amount as a service charge and you will be obliged to pay that charge to get service.</li>
       <li>By using our service you are declaring that you <span class="text text-warning"> will not encourage your users to click any kind of ads</span> or won't use our api to record any interactions/data for any kind of ad click/view callbacks. </li>
       <li>ShareMyRevenue will not take any responsibility for any kind of consequence by using our service and will not be responsible for the termination/ban of your app from any vendor you use to host your app.</li>
       <li>ShareMyRevenue reserves the rights to terminate your account any time for violation of policy or any other means.</li>
    </ol>
    <br/><b>4. Limitations</b>
    <p>In no event shall ShareMyRevenue or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on ShareMyRevenue's website, even if ShareMyRevenue or a ShareMyRevenue authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <br/><b>5. Accuracy of materials</b>
    <p>The materials appearing on ShareMyRevenue website could include technical, typographical, or photographic errors. ShareMyRevenue does not warrant that any of the materials on its website are accurate, complete or current. ShareMyRevenue may make changes to the materials contained on its website at any time without notice. However ShareMyRevenue does not make any commitment to update the materials.</p>
    <br/><b>6. Links</b>
    <p>ShareMyRevenue has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ShareMyRevenue of the site. Use of any such linked website is at the user's own risk.</p>
    <br/><b>7. Modifications</b>
    <p>ShareMyRevenue may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
    <br/><b>8. Governing Law</b>
    <p>These terms and conditions are governed by and construed in accordance with the laws of Bangladesh and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    
</div>

<h2>Privacy Policy</h2>

<div dir="ltr" style="text-align: left;" trbidi="on">
  <br/>
  <br/>
  ShareMyRevenue, including its affiliates (“ShareMyRevenue”), collects, stores, and uses your personal information as a
  data controller in connection with and in order to provide and develop ShareMyRevenue’s products, mobile applications,
  services and websites (together “Services”) according to this privacy policy (“Privacy Policy”).<br/>
  <br/>
  For questions and information about Privacy Policy and data subject's rights, please contact us at
  info[a]ShareMyRevenue.net.<br/>
  <br/>
  For information about our privacy practices related to data from children, please see “Special Note About Children’s
  Privacy” below.<br/>
  <br/>
  All ShareMyRevenue Services are governed by this Privacy Policy and by using or accessing a Service You give consent
  to the processing, use and disclosure of your data. Please do not install or use the Services if you do not agree to
  this Privacy Policy.<br/>
  <br/>
  ShareMyRevenue reserves the right to modify this Privacy Policy. Your continued use of Services will signify your
  acceptance of the changes to this Privacy Policy.<br/>
  <ol><br/>
    <li><strong> How We Collect Your data</strong></li>
  </ol>
  <br/>
  Likely situations when you make personal data available to ShareMyRevenue include, but are not limited to: (i) by
  using ShareMyRevenue’s mobile apps or visiting our websites, (ii) registration for Services, contests and special
  events; (iii) accessing Services using a third party ID, such as social networking sites or gaming services; (iv)
  subscribing to newsletters; (v) purchasing a product or services through ShareMyRevenue’s online stores or within the
  app (or "in-app purchase"); (vi) using “tell a friend,” "email this page," or other similar features; (vii) requesting
  technical support; and (viii) otherwise through use of ShareMyRevenue Services where personal data is required for use
  and/or participation.<br/>
  <br/>
  The data we process on you may include, but is not limited to: email address, device ID, IP-address, user names and
  passwords.<br/>
  <br/>
  ShareMyRevenue may supplement your data with data received from third parties in connection with demographic,
  advertisement, market and other analytics surveys or services.<br/>
  <ol start="2"><br/>
    <li><strong> Ad Serving Technology</strong></li>
  </ol>
  <br/>
  ShareMyRevenue reserves the right to use and disclose the collected, non-personal data for purposes of advertising by
  ShareMyRevenue or ShareMyRevenue’s partners and contractors.<br/>
  <br/>
  ShareMyRevenue may employ third party ad serving technologies that use certain methods to collect information as a
  result of ad serving through Services.<br/>
  <br/>
  ShareMyRevenue or third parties operating the ad serving technology may use demographic and geo-location information
  (for more information regarding use of Location Data see below Section 3) as well as information logged from your
  hardware or device to ensure that relevant advertising is presented within the Service. ShareMyRevenue or third
  parties may collect and use data, for such purposes, including but not limited to, data such as IP address, Device ID,
  MAC address, installed software, application usage data, hardware type, Operating System information, browser
  information, unique identifiers in browser cookies, Flash cookies, and HTML5 local storage, Internet and on-line usage
  information and in-game information.<br/>
  <br/>
  The foregoing data may be used and disclosed in accordance with this Privacy Policy and the privacy policy of the
  company providing the ad serving technology.<br/>
  <br/>
  ShareMyRevenue may display to you behaviorally targeted advertising. If you wish to "opt out" of certain targeted
  advertising, please visit related sites of those advertisements. Please note that the links above may not reach all
  ShareMyRevenue’s advertising partners and certain behaviorally targeted advertising may still be displayed to you. If
  you want to be certain that no behaviorally targeted advertisements are displayed to you, please do not use or access
  the Services.<br/>
  <br/>
  Some services may include the use of in-game advertisements or brand placement. Such ads or sponsorships will be noted
  as such within the services.<br/>
  <br/>
  Additionally please note that if you “opt out” it does not mean that you will no longer receive advertising. It just
  means that the advertising you see displayed will not be customized to you and your interests and may be less relevant
  to you.<br/>
  <ol start="3"><br/>
    <li><strong> Location Data</strong></li>
  </ol>
  <br/>
  To the extent ShareMyRevenue makes location enabled Services available and you use such Services, ShareMyRevenue may
  collect and process your location data to provide location related Services and advertisements. For example, some
  add-ons or offers may be available at dedicated locations. The location data is processed &nbsp;and stored only for
  the duration that is required for the provision of the location related Services.<br/>
  <br/>
  ShareMyRevenue may use, depending on the service (1)IP-based location based on the IP address presented by the
  end-user, (2) fine geo-location data based on coordinates obtained from a mobile device’s GPS radio, or (3) coarse,
  network-based geo-location data based on proximity of network towers or the location of WiFi networks.<br/>
  <br/>
  Your fine, GPS-based geo-location is not accessed without your consent. Notwithstanding ShareMyRevenue’s partners who
  are providing location related parts of the Service, ShareMyRevenue will not share your GPS geo-location with third
  parties without your consent. To the extent ShareMyRevenue makes available GPS geo-location to third parties in
  accordance with this Privacy Policy, it will be provided anonymously.<br/>
  <ol start="4"><br/>
    <li><strong> Analytics</strong></li>
  </ol>
  <br/>
  ShareMyRevenue uses your information to perform its own analytics and to enable analytics provided by third parties.
  &nbsp;We use analytical information for supporting business analysis and operations, business intelligence, product
  development, improving products and services, personalizing content, providing advertising, and making recommendations<br/>
  <ol start="5"><br/>
    <li><strong> Friends</strong></li>
  </ol>
  <br/>
  If you choose to use ShareMyRevenue’s "tell a friend" or a similar service about ShareMyRevenue Services or order a
  gift certificate for your friend, ShareMyRevenue may store your friend's name and contact details that you provide to
  ShareMyRevenue.<br/>
  <br/>
  Please note that certain features of the Services may be able to connect to your social networking sites to obtain
  additional information about you. In such cases, ShareMyRevenue may be able to collect certain information from your
  social networking profile when your social networking site permits it, and when you consent to allow your social
  networking site to make that information available to ShareMyRevenue. This information may include, but is not limited
  to, your name, profile picture, gender, user ID, email address, your country, your language, your time zone, the
  organizations and links on your profile page, the names and profile pictures of your social networking site “friends”
  and other information you have included in your social networking site profile. ShareMyRevenue may associate and/or
  combine as well as use information collected by ShareMyRevenue and/or obtained through such social networking
  sites.<br/>
  <ol start="6"><br/>
    <li><strong> Disclosure and Transfer of Personal Data</strong></li>
  </ol>
  <br/>
  Personal data may be disclosed to third parties including third parties located outside the European Union or the
  European Economic Area in accordance with applicable legislation and this Privacy Policy.<br/>
  <br/>
  ShareMyRevenue may use third parties to collect and process personal data on ShareMyRevenue’s behalf and in according
  to ShareMyRevenue’s instructions. ShareMyRevenue is not liable for the acts and omissions of these third parties,
  except as provided by mandatory law.<br/>
  <ol start="7"><br/>
    <li><strong> Data Retention and Correctness</strong></li>
  </ol>
  <br/>
  ShareMyRevenue retains the collected data for the period necessary to fulfill the purposes outlined in this Privacy
  Policy unless a longer retention period is required or permitted by law. Thereafter ShareMyRevenue deletes all
  aforementioned data in its possession within a reasonable timeframe. ShareMyRevenue does not verify the correctness of
  personal data.<br/>
  <br/>
  Please note that some data may be further retained if necessary to resolve disputes, enforce ShareMyRevenue user
  agreements, and comply with technical and legal requirements and constraints related to the security, integrity and
  operation of Services.<br/>
  <ol start="8"><br/>
    <li><strong> Cookies, beacons and tracking</strong></li>
  </ol>
  <br/>
  The Services may use “cookies” and other technologies such as pixel tags, local shared objects, hardware-based device
  identifiers, Operating System-based identifiers, clear GIFs and web beacons. ShareMyRevenue treats information
  collected by cookies and similar technologies as non-personal data.<br/>
  <br/>
  Cookies: A “cookie” is a small file stored by your browser when told to do so by a website. Typically websites place a
  number of different cookies on an end-user’s machine. Some of the cookies are “1st Party,” from the website itself,
  and others are “3rd party,” belonging to advertising and analytics entities or social networks. &nbsp;ShareMyRevenue’s
  cookies do not include personal data and are typically used to quickly identify your device and to “remember” your
  browser during subsequent visits for purposes of functionality, preferences, and website performance. You can disable
  cookies or set your browser to alert you when cookies are being sent to your device; however, disabling cookies may
  affect your ability to use the Services.<br/>
  <br/>
  Flash cookies &amp; HTML5: ShareMyRevenue may also use Flash cookies (local shared objects) and HTML5 local storage.
  Flash cookies are small files similar to browser cookies, but which are not stored in the browser and can also be used
  to remember your settings, to personalize the look and feel of the Services, or for advertising and analytics. You may
  prevent Flash cookies from being stored by following the instructions provided by Adobe at&nbsp;<a
  href="http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html"><strong>http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html</strong></a>.<br/>
  <br/>
  Web Beacons and pixel tags: A “web beacon” or a “pixel tag” is an electronic image (often not visible to the end-user)
  that allows ShareMyRevenue to count users who have visited certain pages or viewed certain advertisements.
  Additionally, e-mails and other electronic communications ShareMyRevenue sends to you may contain pixel tags that
  enable ShareMyRevenue to track your usage of the communication, including whether the communication was opened and/or
  what links were followed, if any.<br/>
  <ol start="9"><br/>
    <li><strong> Third Party Terms and Conditions</strong></li>
  </ol>
  <br/>
  Please note that your access to and use of the Services may be subject to certain third party terms and conditions and
  ShareMyRevenue is not liable for any such third parties’ use of your personal data.<br/>
  <br/>
  Certain Services that ShareMyRevenue may offer, such as multiplayer gaming, social networking and gaming console
  services, may use third party services to provide authentication for the Services with a gaming console ID, social
  networking ID, or gaming network account. In connection with such use, certain personally identifiable user and/or
  membership data may be transferred automatically to and from ShareMyRevenue.<br/>
  <br/>
  ShareMyRevenue may disclose your personal data to third parties in connection with a corporate merger, consolidation,
  restructuring, the sale of substantially all of ShareMyRevenue’s stock and/or assets or other corporate change,
  including, without limitation, during the course of any due diligence process provided, however, that this Privacy
  Policy shall continue to govern such personal data.<br/>
  <ol start="10"><br/>
    <li><strong> Safeguards</strong></li>
  </ol>
  <br/>
  ShareMyRevenue follows generally accepted industry standards and maintains reasonable safeguards to attempt to ensure
  the security, integrity and privacy of the information in ShareMyRevenue’s possession.<br/>
  <ol start="11"><br/>
    <li><strong> Other</strong></li>
  </ol>
  <br/>
  You may choose to disclose data about yourself in the course of contributing user generated content to the
  Services.<br/>
  <br/>
  Any data that you disclose in any of these forums, blogs, chats or the like will become public information, and there
  is no expectation of privacy or confidentiality with respect to that data.<br/>
  <br/>
  ShareMyRevenue may store and/or transfer your personal data to its affiliates and partners in and outside of EU/EEA
  member states and the United States in accordance with mandatory legislation and this Privacy Policy.<br/>
  <ol start="12"><br/>
    <li><strong> Payments</strong></li>
  </ol>
  <br/>
  ShareMyRevenue does not guarantee your payments or any kind of transactions to be made by certain. All of the
  payments/transactions to the users will be made by the app developer/company/owner who use our service to determine
  the actual amount of transactions and as a service provider we do not
  take any responsibility of any kind of transactions made by our users. We let our users (developers/companies/product
  owners) to determine the amount of the transactions to be made, but we do not make any kind of transactions from
  "ShareMyRevenue" and do not take any responsibility for them.<br/>
  <br/>
  <ol start="13"><br/>
    <li><strong> Special Note about Children’s Privacy</strong></li>
  </ol>
  <br/>
  ShareMyRevenue does not knowingly collect personal information from children under 13 years of age. If ShareMyRevenue
  learns that ShareMyRevenue has inadvertently gathered personal data from children under 13 years of age,
  ShareMyRevenue will take reasonable measures to promptly delete such personal data from ShareMyRevenue’s records.<br/>
  <br/>
  ShareMyRevenue understands the need to provide extra privacy protections to users who are children. To that end,
  features and services such as social networking plug-ins, behaviorally targeted advertising, and collection of data
  for the purpose of building user profiles are not available to users under 13. ShareMyRevenue also does not allow our
  third party partners who engage in such practices to access personally identifiable data from users under 13.<br/>
  <br/>
  ShareMyRevenue and its partners do collect non-personally identifiable data from children. This includes, for example,
  collection of IP-based geolocation data to ensure that the product, service or features served comply with applicable
  laws of that nation.<br/>
  <br/>
  ShareMyRevenue and its partners also collect data to assess general information about the use of products, such as the
  number of visitors to our sites and services and which sections of a site or service are popular. ShareMyRevenue also
  uses this data to provide contextually-relevant advertising to users, to prevent users from seeing the same ad
  repeatedly, and to allow users to personalize their experience on the site or service (for example, to save a high
  score in a game). ShareMyRevenue and its partners may also use cookies, pixels, hardware-based identifiers, Operating
  System-based identifiers, and software-set identifiers, to manage and measure the performance of advertising.<br/>
  <br/>
  Please note that ShareMyRevenue’s partners may have their own policies related to tracking technologies for analytics
  and ad-serving purposes. &nbsp;While<br/>
  ShareMyRevenue requires that companies comply with ShareMyRevenue’s privacy policy before ShareMyRevenue allows those
  companies to access our sites and services, ShareMyRevenue does not actually control third-party data collection and
  use. ShareMyRevenue encourages parents to review the list of operators below and to become familiar with those parties
  policies and practices.<br/>
  <br/>
  If you have additional questions about ShareMyRevenue’s Privacy Practices related to children under the age of 13,
  please contact us at&nbsp;<strong><u><a href="mailto:info@ShareMyRevenue.net">info@ShareMyRevenue.net</a></u></strong>.<br/>
  <ol start="14"><br/>
    <li><strong> Further information</strong></li>
  </ol>
  <br/>
  ShareMyRevenue makes good faith efforts to enable you to review, update or correct your personal data in
  ShareMyRevenue’s possession.<br/>
  <br/>
  ShareMyRevenue will need sufficient information from you to establish your identity and to verify your access request,
  and also to assist us in handling your request.<br/>
  <br/>
</div>
