<div class="row">
  <div class="col-xl-6">
    <div class="chart-statistic-box">
      <div class="chart-txt">
        <div class="chart-txt-top">
          <p><span class="unit">$</span><span class="number">1540</span></p>
          <p class="caption">Week income</p>
        </div>
        <table class="tbl-data">
          <tr>
            <td class="price color-purple">{{eventStats.totalEvents}}</td>
            <td>Total Events</td>
          </tr>
          <tr>
            <td class="price color-yellow">{{eventStats.actualWeightSum}}</td>
            <td>Total Interaction<br/>Points</td>
          </tr>
          <tr>
            <td class="price color-lime">{{eventStats.weightSum}}</td>
            <td>Total Interaction<br/>Points earned by <br/>Users</td>
          </tr>
        </table>
        <select (change)="onEventStatsPeriodChange($event.target.value)" class="select2">
          <option value="this_month">This Month</option>
          <option value="last_month" selected>Last Month</option>
          <option value="this_year">This Year</option>
          <option value="last_year">Last Year</option>
          <option value="all_time">All Time</option>
        </select>
      </div>
      <div class="chart-container">
        <div class="chart-container-in">
          <div id="chart_div"></div>
          <header class="chart-container-title">Income</header>
          <div class="chart-container-x">
            <div class="item"></div>
            <div class="item">tue</div>
            <div class="item">wed</div>
            <div class="item">thu</div>
            <div class="item">fri</div>
            <div class="item">sat</div>
            <div class="item">sun</div>
            <div class="item">mon</div>
            <div class="item"></div>
          </div>
          <div class="chart-container-y">
            <div class="item">300</div>
            <div class="item"></div>
            <div class="item">250</div>
            <div class="item"></div>
            <div class="item">200</div>
            <div class="item"></div>
            <div class="item">150</div>
            <div class="item"></div>
            <div class="item">100</div>
            <div class="item"></div>
            <div class="item">50</div>
            <div class="item"></div>
          </div>
        </div>
      </div>
    </div><!--.chart-statistic-box-->
  </div><!--.col-->
  <div class="col-xl-6">
    <div class="row">
      <div class="col-sm-6">
        <article class="statistic-box red">
          <div>
            <div class="number">26</div>
            <div class="caption">
              <div>Open tickets</div>
            </div>
            <div class="percent">
              <div class="arrow up"></div>
              <p>15%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box purple">
          <div>
            <div class="number">12</div>
            <div class="caption">
              <div>Closes tickets</div>
            </div>
            <div class="percent">
              <div class="arrow down"></div>
              <p>11%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box yellow">
          <div>
            <div class="number">104</div>
            <div class="caption">
              <div>New clients</div>
            </div>
            <div class="percent">
              <div class="arrow down"></div>
              <p>5%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box green">
          <div>
            <div class="number">29</div>
            <div class="caption">
              <div>Here is an example of a long name</div>
            </div>
            <div class="percent">
              <div class="arrow up"></div>
              <p>84%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.col-->
</div><!--.row-->

<div class="row">
  <div class="col-xl-6">
    <section class="widget widget-simple-sm">
      <div class="widget-simple-sm-statistic">
        <div class="number">
          <button *ngIf="!clientIdVisible" (click)="toggleClientIdVisibility()" class="btn btn-primary btn-block">Show</button>
          <span *ngIf="clientIdVisible">
            {{clientId}}
          </span>
        </div>
        <div *ngIf="clientIdVisible" class="caption color-purple">
          <a (click)="copyToClipboard(clientId)">copy</a>&nbsp;
          <a (click)="toggleClientIdVisibility()">hide</a>
        </div>
      </div>
      <div class="widget-simple-sm-bottom statistic"><strong>Client ID</strong></div>
    </section><!--.widget-simple-sm-->
  </div>
  <div class="col-xl-6">
    <section class="widget widget-simple-sm">
      <div class="widget-simple-sm-statistic">
        <div class="number">
          <button *ngIf="!clientSecretVisible" (click)="toggleClientSecretVisibility()" class="btn btn-primary btn-block">Show
          </button>
          <span *ngIf="clientSecretVisible">
            {{clientSecret}}
          </span>
        </div>
        <div *ngIf="clientSecretVisible" class="caption color-purple">
          <a (click)="copyToClipboard(clientSecret)">copy</a>&nbsp;
          <a (click)="toggleClientSecretVisibility()">hide</a>
        </div>
      </div>
      <div class="widget-simple-sm-bottom statistic"><strong>Client Secret</strong></div>
    </section><!--.widget-simple-sm-->
  </div>
</div><!--.row-->

<div class="row">
  <div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
      <header class="box-typical-header panel-heading">
        <h3 class="panel-title">Latest Interactions</h3>
      </header>
      <div class="box-typical-body panel-body">
        <table class="tbl-typical">
          <tr>
            <th>
              <div>Event</div>
            </th>
            <th>
              <div>Weight</div>
            </th>
            <th align="center">
              <div>Type</div>
            </th>
          </tr>
          <tr *ngFor="let e of eventsPage?.content">
            <td>{{e.tag}}</td>
            <td>
              <span class="label label-primary">{{e.weight}}</span>
              <!-- <span class="label label-success">Active</span> -->
            </td>
            <td align="center">{{e.type.toLowerCase().split('_').join(' ')}}</td>
          </tr>

        </table>
      </div><!--.box-typical-body-->
    </section><!--.box-typical-dashboard-->
  </div><!--.col-->
  <div class="col-xl-6 dahsboard-column">
    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
      <header class="box-typical-header panel-heading">
        <h3 class="panel-title">Latest Transactions</h3>
      </header>
      <div class="box-typical-body panel-body">
        <table class="table table-hover">
          <tbody>
          <tr>
            <th>Payment Date</th>
            <th>Reference</th>
            <th></th>
          </tr>
          <tr *ngFor="let t of trnxPage?.content">
            <td>{{getReadableDate(t.fromDate)}} - {{getReadableDate(t.toDate)}}</td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Debit</div>
              ৳{{t.debit}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Credit</div>
              ৳{{t.credit}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Current Balance</div>
              ৳{{t.balance}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Type</div>
              <span [ngClass]="t.payment? 'text-success':'text-primary'">{{t.payment? 'Payment':'Debited'}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!--.box-typical-body-->
    </section><!--.box-typical-dashboard-->
  </div><!--.col-->
</div>

