
<div class="row">
  <div class="col-xl-6">
    <section class="widget widget-tabs-compact">
      <div class="widget-tabs-nav colored">
        <ul class="tbl-row" role="tablist">
          <li class="nav-item">
            <a class="nav-link blue" data-toggle="tab" href="#w-4-tab-2" role="tab">
              <i class="font-icon font-icon-zigzag"></i>
              {{stats.totalSharedAmount}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link orange active" data-toggle="tab" href="#w-4-tab-1" role="tab">
              <i class="font-icon font-icon-minus"></i>
              {{stats.totalLiability}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link green active" data-toggle="tab" href="#w-4-tab-1" role="tab">
              <i class="font-icon font-icon-check-circle"></i>
              {{stats.totalSharedAmount-stats.totalLiability}}
            </a>
          </li>
        </ul>
      </div>
      <div id="pi_chart_div"></div>
    </section>

  </div>
  <div class="col-xl-6">
    <select (change)="onEventStatsPeriodChange($event.target.value)" class="form-control">
      <option value="this_month" selected>Select Period</option>
      <option value="this_month">This Month</option>
      <option value="last_month">Last Month</option>
      <option value="this_year">This Year</option>
      <option value="last_year">Last Year</option>
      <option value="all_time">All Time</option>
    </select><hr/>
    <div class="row">
      <div class="col-sm-6">
        <article class="statistic-box red">
          <div>
            <div class="number">{{stats.numberOfEvents}}</div>
            <div class="caption">
              <div>Total Events</div>
            </div>
            <div class="percent">
              <div class="arrow up"></div>
              <p>15%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box purple">
          <div>
            <div class="number">{{stats.weightSum}}</div>
            <div class="caption">
              <div>Interaction Points</div>
            </div>
            <div class="percent">
              <div class="arrow down"></div>
              <p>11%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box yellow">
          <div>
            <div class="number">{{stats.totalUsers}}</div>
            <div class="caption">
              <div>Total Users</div>
            </div>
            <div class="percent">
              <div class="arrow down"></div>
              <p>5%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
      <div class="col-sm-6">
        <article class="statistic-box green">
          <div>
            <div class="number">{{stats.totalNumberOfTrnx}}</div>
            <div class="caption">
              <div>Total Transactions</div>
            </div>
            <div class="percent">
              <div class="arrow up"></div>
              <p>84%</p>
            </div>
          </div>
        </article>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.col-->
</div><!--.row-->

<div class="row">
  <div class="col-xl-6">
    <section class="widget widget-simple-sm">
      <div class="widget-simple-sm-statistic">
        <div class="number">
          <button *ngIf="!clientIdVisible" (click)="toggleClientIdVisibility()" class="btn btn-primary btn-block">Show</button>
          <span *ngIf="clientIdVisible">
            {{clientId}}
          </span>
        </div>
        <div *ngIf="clientIdVisible" class="caption color-purple">
          <a (click)="copyToClipboard(clientId)">copy</a>&nbsp;
          <a (click)="toggleClientIdVisibility()">hide</a>
        </div>
      </div>
      <div class="widget-simple-sm-bottom statistic"><strong>Client ID</strong></div>
    </section><!--.widget-simple-sm-->
  </div>
  <div class="col-xl-6">
    <section class="widget widget-simple-sm">
      <div class="widget-simple-sm-statistic">
        <div class="number">
          <button *ngIf="!clientSecretVisible" (click)="toggleClientSecretVisibility()" class="btn btn-primary btn-block">Show
          </button>
          <span *ngIf="clientSecretVisible">
            {{clientSecret}}
          </span>
        </div>
        <div *ngIf="clientSecretVisible" class="caption color-purple">
          <a (click)="copyToClipboard(clientSecret)">copy</a>&nbsp;
          <a (click)="toggleClientSecretVisibility()">hide</a>
        </div>
      </div>
      <div class="widget-simple-sm-bottom statistic"><strong>Client Secret</strong></div>
    </section><!--.widget-simple-sm-->
  </div>
</div><!--.row-->

<div class="row">
  <div class="col-sm-6">
    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
      <header class="box-typical-header">
        <div class="tbl-row">
          <div class="tbl-cell tbl-cell-title">
            <h3><a [routerLink]="['/events']"> Latest Interactions </a><br/></h3>
          </div>
        </div>
      </header>
      <div class="box-typical-body panel-body">
        <table class="tbl-typical">
          <tr>
            <th>
              <div>Event</div>
            </th>
            <th>
              <div>Weight</div>
            </th>
            <th align="center">
              <div>Type</div>
            </th>
          </tr>
          <tr *ngFor="let e of eventsPage?.content">
            <td>{{e.tag}}</td>
            <td>
              <span class="label label-primary">{{e.weight}}</span>
              <!-- <span class="label label-success">Active</span> -->
            </td>
            <td align="center">{{e.type.toLowerCase().split('_').join(' ')}}</td>
          </tr>

        </table>
      </div><!--.box-typical-body-->
    </section><!--.box-typical-dashboard-->
  </div><!--.col-->
  <div class="col-sm-6">
    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
      <header class="box-typical-header">
        <div class="tbl-row">
          <div class="tbl-cell tbl-cell-title">
            <h3><a [routerLink]="['/rshare/payments/requests']"> Latest Transactions </a><br/></h3>
          </div>
        </div>
      </header>
      <div class="box-typical-body panel-body">
        <table class="table table-hover">
          <tbody>
          <tr>
            <th>Payment Date</th>
            <th>Reference</th>
            <th></th>
          </tr>
          <tr *ngFor="let t of trnxPage?.content">
            <td>{{getReadableDate(t.fromDate)}} - {{getReadableDate(t.toDate)}}</td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Debit</div>
              ৳{{t.debit}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Credit</div>
              ৳{{t.credit}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Current Balance</div>
              ৳{{t.balance}}
            </td>
            <td>
              <div class="font-11 color-blue-grey-lighter uppercase">Type</div>
              <span [ngClass]="t.payment? 'text-success':'text-primary'">{{t.payment? 'Payment':'Debited'}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!--.box-typical-body-->
    </section><!--.box-typical-dashboard-->
  </div><!--.col-->
</div>

