<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Share Revenue</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a href="#">App</a></li>
          <li><a href="#">Dashboard</a></li>
          <li class="active">Revenue Sharing</li>
        </ol>
      </div>
    </div>
  </div>
</header>

<div class="box-typical box-typical-padding">

  <h5 class="m-t-lg with-border">Share Revenue</h5>

  <div class="row">
    <form #shareRevForm="ngForm" (ngSubmit)="shareRevenue(shareRevForm.value)">
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label semibold">Total Revenue:</label>
          <div class="form-control-wrapper form-control-icon-left">
            <input [(ngModel)]="totalRevenue" name="totalRevenue" type="number" class="form-control"
                   placeholder="Left" required/>
            <i class="fa fa-money"></i>
          </div>
          <em *ngIf="shareRevForm.controls.totalRevenue?.invalid && shareRevForm.controls.totalRevenue?.touched">*Required!<br/></em>
          <em *ngIf="shareRevForm.controls.totalRevenue?.value<5000 && shareRevForm.controls.totalRevenue?.touched">*You
            can not share revenue less than 5000</em>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label semibold">Sharing Percentage:</label>
          <div class="form-control-wrapper form-control-icon-left">
            <input [(ngModel)]="sharePercentage" name="sharePercentage" type="number" class="form-control"
                   placeholder="Left" required/>
            <i class="fa fa-percent"></i>
          </div>
          <em *ngIf="shareRevForm.controls.sharePercentage?.invalid && shareRevForm.controls.sharePercentage?.touched">*Required!</em>
          <em *ngIf="shareRevForm.controls.sharePercentage?.value>100">*Should be less than 100</em>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-label semibold">Month:</label>
          <div class="form-control-wrapper">
            <select [(ngModel)]="month" name="month" class="form-control" required>
              <option value="january">January</option>
              <option value="february">February</option>
              <option value="march">March</option>
              <option value="april">April</option>
              <option value="may">May</option>
              <option value="jun">June</option>
              <option value="july">July</option>
              <option value="august">August</option>
              <option value="september">September</option>
              <option value="october">October</option>
              <option value="november">November</option>
              <option value="december">December</option>
            </select>
            <!--<input [(ngModel)]="fromDate" name="fromDate" type="date" class="form-control" placeholder="Left"/>-->
            <!--<i class="fa fa-calendar"></i>-->
          </div>
          <em *ngIf="isInvalidDate()">You can only share revenues for last month or earlier!</em>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label class="form-label semibold">Year:</label>
          <div class="form-control-wrapper">
            <select [(ngModel)]="year" name="year" class="form-control" required>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
            <!--<input [(ngModel)]="toDate" name="toDate" type="date" class="form-control" placeholder="Left"/>-->
            <!--<i class="fa fa-calendar"></i>-->
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label semibold">Share</label>
          <div class="form-control-wrapper form-control-icon-left">
            <button type="submit" class="form-control btn btn-primary btn-rounded" placeholder="Left"
                    [disabled]="shareRevForm.invalid
            || shareRevForm.controls.sharePercentage?.value>100
            || shareRevForm.controls.totalRevenue?.value<5000
            || isInvalidDate()">Share
            </button>
          </div>
        </div>
      </div>
    </form>
  </div><!--.row-->

</div><!--.box-typical-->
<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3><a href="/events">Shared Revenues</a><br/>
          <!--( Total: <span>{{eventsPage?.totalElements}} events</span> ,-->
          <!--Showing {{eventsPage?.size}} events/page,-->
          <!--Page: <span>{{page+1}}</span> )-->
        </h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Date Range</th>
          <th>Revenue</th>
          <th>Sharing Percentage</th>
          <th>Shared Amount</th>
        </tr>
        <tr *ngFor="let rsp of rSharedPage?.content">
          <td class="table-check">
            <div class="checkbox checkbox-only">
              <input type="checkbox" id="tbl-check-1"/>
              <label for="tbl-check-1"></label>
            </div>
          </td>
          <td><a>{{rsp.id}}</a></td>
          <td>{{getReadableDate(rsp.fromDate)}} - {{getReadableDate(rsp.toDate)}}</td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">REVENUE</div>
            ৳{{rsp.revenueAmount}}
          </td>
          <td width="150">
            <div class="progress-with-amount">
              <progress class="progress progress-success progress-no-margin" [value]="rsp.sharePercentage" max="100">
                25%
              </progress>
              <div class="progress-with-amount-number">{{rsp.sharePercentage}}%</div>
            </div>
          </td>
          <td>
            <div class="font-11 color-blue-grey-lighter uppercase">Shared Amount</div>
            ৳{{rsp.revenueAmount*rsp.sharePercentage/100}}
          </td>
          <td>
            <button [routerLink]="[rsp.id,'eUsers']" class="btn btn-primary">Eligible Users</button>
          </td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <button [disabled]="rSharedPage?.first" (click)="loadPreviousPage()" class="btn btn-primary">Previous
            </button>
            &nbsp;&nbsp;<button [disabled]="rSharedPage?.last" (click)="loadNextPage()" class="btn btn-primary">Next
          </button>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div><!--.box-typical-body-->
</section><!--.box-typical-->
